/* styling for NavBar here */

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e1dede;
  font-size: 20px;
}

.left,
.right {
  display: flex;
  align-items: center;
}

#nav .logo {
  width: 200px;
  height: auto;
}

.left a,
.right a {
  margin-right: 15px;
  text-decoration: none;
  color: #6e6d6d;
  margin-left: 2rem;
}

nav a:hover {
  color: #f7f4f4;
}

.cart-icon {
  color: #413f3f;
}
