/* styling product details */
.productDetailsContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.productDetailsCard {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background: #fafafa !important;
}

.cart-btn {
  background: #9ca986 !important;
  color: black;
  border-color: #ddd;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.cart-btn:hover{
  border-color: #ddd;
  color: black;
  background: #c6d1b3 !important;
}
.productDetailsImage {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  border-right: 1px solid #ddd;
}

.productDetailsInfo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productMaterial {
  font-size: 20px;
}
.productDetailsTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  align-self: center;
}

.productDetailsPrice {
  font-size: 22px;
  font-weight: bold;
  color: #cb7070;
  margin-top: 20px;
}

.sizeSelect,
.colorSelect {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.productDetailsLable {
  font-weight: bold;
  color: #666;
  display: block;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .productDetailsCard {
    flex-direction: column;
    text-align: center;
  }

  .productDetailsImage {
    max-width: 100%;
    border-right: none;
  }

  .productDetailsInfo {
    padding: 15px;
  }
}
